{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block jquerycode %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock jquerycode %}


{% block title %}
Crear Nuevo Ejemplar
{% endblock title %}

{% block content %}

<div class="card text-center mx-auto">  
  <div class="card-body mx-auto">

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>


      {% comment %} <form method="POST"  enctype="multipart/form-data" >{% csrf_token %}
          <h3>Crear Nuevo Ejemplar</h3>            
          <div class="form-group ">

            {% if form.libro_id.errors %}       

            <div class="alert alert-danger">
              {{ form.libro_id.errors }}
              <label for="libro_id">ID del libro:</label>
              <input type="text" name="libro_id" class="form-control text-center" id="libro_id" required>
            </div>
            {% else %}
            <label for="libro_id">ID del libro:</label>
            <input type="text" name="libro_id" class="form-control text-center" id="libro_id" required>
            {% endif %}
         
            <label for="">Estado</label>
            {{ form.estado | add_class:"form-control text-center" | attr:"placeholder: Estado" }}
            
            
            <label for="">Ultima Revisiom</label>
            {{ form.ultima_revision | add_class:"dateinput form-control text-center" | attr:"placeholder: Ultima Revisión" }}
            
            <label for="">Año Adquision</label>
            {{ form.ano_aquision | add_class:"form-control text-center" | attr:"placeholder: Año de adquisición" }}
            
            <label for="">Edicion</label>
            {{ form.edicion | add_class:"form-control text-center" | attr:"placeholder: Edición" }}
            
            <label for="">ISBN</label>
            {{ form.isbn | add_class:"form-control text-center" | attr:"placeholder: ISBN" }}
            
            <label for="">Año Publicacionl</label>
            {{ form.año_publicacion | add_class:"form-control text-center" | attr:"placeholder: Año de publicación" }}
            
            <label for="">Editorial</label>
            {{ form.editorial | add_class:"form-control text-center" | attr:"placeholder: Editorial" }}
            
            <label for="">Dewey</label>
            {{ form.dewey | add_class:"form-control text-center" | attr:"placeholder: Dewey" }}
            
            <label for="">Cutter</label>
            {{ form.cutter | add_class:"form-control text-center" | attr:"placeholder: Cutter" }}

            <label for="">Asignatura</label>
            {{ form.asignatura | add_class:"form-control text-center" | attr:"placeholder: Asignatura" }}

            <label for="">Cantidad</label>
            {{ form.cantidad | add_class:"form-control text-center" | attr:"placeholder: Cantidad" }}

            
          </div>
          <button type="submit" class="btn btn-success">Crear</button>
      </form>        {% endcomment %}

      
  </div>
</div>  

   
{% endblock content %}

 {% comment %} <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> {% endcomment %}