{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Crear Libro
{% endblock title %}

{% block jquerycode %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock jquerycode %}



{% block content %}
{% comment %} 
<h1>Registrar nuevo Libro</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' button_type='submit' button_css_classes='button success' %}
    <button type="submit" class="btn btn-primary">Guardar</button>

  </form> {% endcomment %}

  <div class="card text-center mx-auto">  
    <div class="card-body mx-auto">

        <form method="POST"  enctype="multipart/form-data" >{% csrf_token %}
            <h3>Crear Nuevo Libro</h3>            
            <div class="form-group ">
        <label for="">Titulo</label>{{form.titulo |add_class:"form-control text-center"}}
        <label for="">Autor</label>{{form.autor |add_class:"form-control text-center"}}
        
        <label for="">Numero de Paginas</label>{{form.num_paginas |add_class:"form-control text-center"}}

        <label for="">Sinopsis</label>{{form.sinopsis |add_class:"form-control text-center"}}

        <label for="">Avatar</label>{{form.avatar |add_class:"form-control text-center"}}

        
            </div>
            <button type="submit" class="btn btn-success">Crear</button>
        </form>       
    </div>
</div>  

  
  
{% endblock content %}


{% block footer_card %}
<div class="container">  
  <div class="text-right">
    <a class="btn btn-info" href="{% url 'app_inventario:cargar_libros' %}">Archivo CSV</a>
  </div>
</div>
{% endblock footer_card %}