{% extends 'base.html' %}
{% load static %}
    
    {% block content %}

    <div class="container">
        <h1>Seleccionar Usuario:</h1>
        <form method="POST" action="{{ url_prestamo }}">
            {% csrf_token %}
            <label for="seccion">Sección:</label>
            <select name="seccion_id" id="seccion" class="form-control text-center">
                {% for seccion in usuarios %}
                {{seccion.nombre}}
                <option value="{{ seccion.id }}">{{ seccion.nombre }} {{ seccion.apellido }} {{ seccion.cedula }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success" type="submit">Enviar</button>
        </form>
    </div>
         
    {% endblock content %}
        
 

</body>
</html>