{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block title %}
Crear Usuario
{% endblock title %}





{% block content %}

<h1>Registrar Nuevo Usuario</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' button_type='submit' button_css_classes='button success' %}
    <button type="submit" class="btn btn-primary">Guardar</button>

  </form>


{% endblock content %}

{% block footer_card %}
<div class="container">  
  <div class="text-right">
    <a class="btn btn-info" href="{% url 'app_inventario:cargar_usuarios' %}">Archivo CSV</a>
  </div>
</div>
{% endblock footer_card %}
  