{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block jquerycode %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock jquerycode %}
{% load custom_filters %}

{% block title %}
Crear Prestamo
{% endblock title %}



{% block content %}
















<div class="card-body mx-auto">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Crear Prestamo</h3>
    <div class="form-group grid-margin-x">

      {% if form.id_usuario.errors %}
      <div class="alert alert-danger">
          {{ form.id_usuario.errors }}
          <label for="id_usuario">ID Usuario</label>
      {{ form.id_usuario|add_class:"form-control text-center"}}
      </div>
      {% else %}
      <label for="id_usuario">ID Usuario</label>
      {{ form.id_usuario|add_class:"form-control text-center"}}
   
    {% endif %}

     
      <label for="ejemplar">Ejemplar</label>
      {{ form.ejemplar|add_class:"form-control text-center" }}
   
      <label for="fecha_prestamo">Fecha prestamo</label>
      {{ form.fecha_prestamo |add_class:"dateinput form-control text-center" }}
   
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
{% endblock content %}
  








{% comment %} {% block content %}




<div class="card-body mx-auto">

  <form method="POST"  enctype="multipart/form-data" >{% csrf_token %}
      <h3>Crear Prestamo</h3>            
      <div class="form-group grid-margin-x ">
  <label for="">Usuario</label>{{form.usuario|add_class:"form-control text-center" |attr:"placeholder: Usuario"}}
  <label for="">Ejemplar</label>{{form.ejemplar |add_class:"form-control text-center" |attr:"placeholder: Ejemplar"}}
  <label for="">Ubicacion</label>{{form.fecha_prestamo |add_class:" form-control text-center" |attr:"placeholder: Ubicacion"}}
  <label for="">Fecha prestamo</label>{{form.fecha_devolucion|add_class:" dateinput form-control text-center"|attr:"placeholder: Fecha de Prestamo"}}
  
 
</div>
      <button type="submit" class="btn btn-success">Guardar</button>
  </form>       
</div>

{% endblock content %} {% endcomment %}