{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}


{% block jquerycode %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock jquerycode %}
    

{% block content %}
 <div class="card text-center mx-auto">  
    <div class="card-body mx-auto">

        <form method="POST"  enctype="multipart/form-data" >{% csrf_token %}
            <h3>¿Desea actualizar la fecha de devolución ?</h3>            
            <div class="form-group ">
                <label for="">Fecha a Devolver</label>
        <!-- -->{{form.fecha_devolucion |add_class:"dateinput form-control text-center"}}
            </div>
            <button type="submit" class="btn btn-success">Actualizar</button>
        </form>       
    </div>
</div>  



{% endblock content %}
    


