
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block jquerycode %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock jquerycode %}

{% block content %}     
<div class="card text-center mx-auto">                                 
    <div class="card-body mx-auto">
        <div class="card-body mx-auto">


            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form  %}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            
            {% comment %} <form method="POST"  enctype="multipart/form-data" >{% csrf_token %}
                <h3>Editar</h3>            
                <div class="form-group grid-margin-x ">
                    <label for="">Nombre del libro</label>{{ form.libro.titulo |add_class:"form-control text-center"}}
                    <label for="">Estado</label>{{form.estado |add_class:"form-control text-center" |attr:"placeholder: Estado"}}
                    <label for="">Ubicacion</label>{{form.ubicacion |add_class:"form-control text-center"|attr:"placeholder: Ubicacion"}}
                    <label for="">Fecha Adquirido</label>{{form.fecha_adquisicion |add_class:"dateinput  form-control text-center" |attr:"placeholder: Fecha Adquision"}}
                    <label for="">Ultima Revision</label>{{form.ultima_revision  |add_class:"dateinput form-control text-center"|attr:"placeholder: Ultima Revisión" }}
                    <label for="">Cantidad</label>{{form.cantidad |add_class:"form-control text-center"|attr:"placeholder: Cantidad"}}       
                    <label for="">Comentarios</label>{{ form.comentarios |add_class:"form-control text-center"|attr:"placeholder: Comentarios" }}
                    
                </div>
                <button type="submit" class="btn btn-success">Actualizar</button>
            </form>   {% endcomment %}
            
             
        </div>
    </div>
</div>
{% endblock  %}  