{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block jquerycode %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock jquerycode %}




{% block content %} 

    
<div class="grid-container">
  <div class="grid-x">
    <h1 class="cell">Lista de Usuarios</h1>
    {% include 'includes/busqueda.html' %}
    <div class="cell">
      <div class="table-responsive scroll">
        <table class="table">
          <thead class="responsive-stack">
            <tr>
              <th width="200" class="text-center" scope="col">ID</th>
              <th width="200" class="text-center" scope="col">Nombre</th>
              <th width="200" class="text-center" scope="col">Apellido</th>
              <th width="200" class="text-center" scope="col">Cedula</th>
              <th width="200" class="text-center" scope="col">Direccion</th>
              <th width="200" class="text-center" scope="col">Telefono</th>
              <th width="200" class="text-center" scope="col">Correo Electronico</th>
              <th width="200" class="text-center" scope="col">Seccion</th>
              <th width="200" class="text-center" scope="col">Profesor Guia</th>
              <th width="200" class="text-center" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for e in object_list %}
            <tr>
              <td scope="row" class="text-center">{{e.id}}</td>
              <td scope="row" class="text-center">{{e.nombre}}</td>
              <td scope="row" class="text-center">{{e.apellido}}</td>
              <td scope="row" class="text-center">{{e.cedula}}</td>
              <td scope="row" class="text-center">{{e.direccion}}</td>  
              <td scope="row" class="text-center">{{e.telefono}}</td>  
              <td scope="row" class="text-center">{{e.correo_electronico}}</td>  
              <td scope="row" class="text-center">{{e.seccion}}</td>  
              <td scope="row" class="text-center">{{e.profesor_guia}}</td> 
              {% comment %} {% url 'app_inventario:editar_usuario' e.id %}  {% endcomment %}
              <td scope="row" class="text-center"><a href="{% url 'app_inventario:editar_usuario' e.id %}" class="btn btn-warning" >Editar</a> <a href="{% url 'app_inventario:eliminar_usuario' e.id %}" class="btn btn-danger" >Eliminar</a></td>  
              {% comment %} <td><a class="button warning" href="{% url 'persona_app:empleado_detail' e.id %}">Ver</a> {% endcomment %}
                {% comment %} eliminar_usuario {% endcomment %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% include 'includes/paginacion.html' %}
  </div>
</div>
    

    
    
</div>



{% endblock content %}