.dropdown-menu a:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .scroll {
    overflow-x: auto;
  }
  
  /* Aplica el efecto cuando el cursor del mouse pasa por encima de la imagen */

  body {   
    
    background-repeat: no-repeat;
    background-size: cover;
  }