{% load static %}
{% load bootstrap4 %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.datepicker-es.js' %}"></script>
    
    
    {% block jquerycode %}    
    {% endblock jquerycode %}        

    {% comment %} <script>
        $(document).ready(function(){
            $(".dateinput").datepicker({changeYear:true, changeMonth:true});
        });
    </script>    {% endcomment %}

    <title>{% block title %}{% endblock title %}</title>   

</head>

 <body> 
{% comment %} <body style="background-image: url('{% static 'img/fondo.jpg' %}');"> {% endcomment %}

    {% block nav %}
    {% include 'includes/header.html' %}
    {% endblock nav %}

    <div class="container">

        <div class="card text-center mx-auto shadow p-3 mb-5 bg-body rounded" ">
            {% comment %} <input type="text" class="dateinput" name="fecha"> {% endcomment %}
            {% block content %}
            {% endblock content %}


         
            <div class="card-footer text-muted">
                {% block footer_card %}

                {% endblock footer_card %}
            </div> 
        </div>
    </div>

    
</body>




</html>