{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block title %}
  Inicio
{% endblock title %}
  

{% block content %}
    
<h1>Prestamos para el dia hoy</h1>

{% include 'includes/busqueda.html' %}

<div class="row">
  {% for prestamo in object_list %}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
      {% if prestamo.ejemplar.libro.avatar %}
      <!-- <a href="{% url 'app_inventario:devolver_ejemplar' prestamo.id %}">  </a> -->
     
    <img src="{{ prestamo.ejemplar.libro.avatar.url }}" class="img-fluid .hover-image imagen-estandar">
     
      {% else %}
    <!--   <a href="{% url 'app_inventario:devolver_ejemplar' prestamo.id %}">   </a> -->
      <img src="{% static 'img/Logo2.png' %}" alt="" class="img-fluid">
   
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{prestamo.ejemplar.libro.titulo}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        
        
          
        <li class="list-group-item">Nombre: {{prestamo.usuario.nombre}} {{prestamo.usuario.apellido}}</li>
        <li class="list-group-item">Cedula: {{prestamo.usuario.cedula}}</li>
        <li class="list-group-item">Seccion: {{prestamo.usuario.seccion}}</li>
        <li class="list-group-item">Telefono: {{prestamo.usuario.telefono}}</li>
        <li class="list-group-item">Profesor Guia: {{prestamo.usuario.profesor_guia}}</li>
        <li class="list-group-item">Fecha de devolucion: {{prestamo.fecha_devolucion}}</li>
        <li class="list-group-item grid-margin-x">
          <a href="{% url 'app_inventario:actualizar_fecha' prestamo.id %}" class="btn btn-warning">Actualizar fecha</a>
          <a href="{% url 'app_inventario:devolver_ejemplar' prestamo.id %}"  class="btn btn-danger">Devolver</a>
        </li>
      </ul>
    </div>
  </div>
    {% if forloop.counter|divisibleby:3 %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

{% block footer_card %}
  {% include 'includes/paginacion.html' %}
{% endblock footer_card %}





 




    