{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% load widget_tweaks %}


{% block content %}



<div class="card text-center mx-auto">                                 
    <div class="card-body mx-auto">
    
    <form method="post" enctype="multipart/form-data" >    {% csrf_token %}
        {% bootstrap_form form button_type='submit' button_css_classes='btn btn-success' %}
        <button type="submit" class="btn btn-success">Devolver</button>
    </form>
    </div>
</div>
{% endblock content %}
