{% extends 'base.html' %}
{% load static %}



{% block title %}
Libros
{% endblock title %}





{% block content %}


{% comment %} <div class="card-header"> </div> {% endcomment %}




<div class="card-body mx-auto">
  <h3>Libros</h3>
  {% include 'includes/busqueda.html' %}
  <div class="row">
    {% for libro in libros %}
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">

        {% if libro.avatar %}

        <a href="{% url 'app_inventario:libro' libro.id %}"><img src="{{ libro.avatar.url }}" class="img-fluid"></a>
        {% else %}
        <a href="{% url 'app_inventario:libro' libro.id %}"><img src="{% static 'img/Logo2.png' %}" alt=""
            class="img-fluid"></a>
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{libro.titulo}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{libro.autor}}</li>
        </ul>

      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">
  
    {% endif %}
    {% endfor %}
  </div>




  {% endblock content %}

  {% block footer_card %}
  {% include 'includes/paginacion.html' %}
  {% endblock footer_card %}