{% extends 'base.html' %}
{% load static %}

{% block title %}
Libros
{% endblock title %}

{% block content %}

<style>
.card-container {
  width: 18rem;
  height: 100%;
}

.card-body {
  height: 100%;
}

.imagen-estandar {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 370px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<div class="card-body mx-auto">
  <h3>Libros</h3>
  {% include 'includes/busqueda.html' %}

  <div class="row">
    {% for libro in libros %}
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 bg-body rounded card-container">
        <a href="{% url 'app_inventario:libro' libro.id %}">
          <div class="image-container">
            {% if libro.avatar %}
            <img src="{{ libro.avatar.url }}" class="img-fluid imagen-estandar">
            {% else %}
            <img src="{% static 'img/Logo2.png' %}" alt="" class="img-fluid imagen-estandar">
            {% endif %}
          </div>
        </a>

        <div class="card-body">
          <h5 class="card-title">{{libro.titulo}}</h5>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Accordion Item #1
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <ul class="list-group list-group-flush">
                {% if libro.autor %}
                <li class="list-group-item">Autor: {{ libro.autor }}</li>
                {% endif %}
                {% if libro.id %}
                <li class="list-group-item">ID: {{ libro.id }}</li>
                {% endif %}
                {% if libro.num_paginas %}
                <li class="list-group-item">Numero de Paginas: {{ libro.num_paginas }}</li>
                {% endif %}
                {% if libro.sinopsis %}
                <li class="list-group-item">Sinopsis: {{ libro.sinopsis }}</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
    {% if forloop.last and not forloop.counter|divisibleby:3 %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}

{% block footer_card %}
{% include 'includes/paginacion.html' %}
{% endblock footer_card %}
