{% extends 'base.html' %}
{% load static %}



{% block title %}
{{libro.titulo}}
{% endblock title %}





{% block content %}
{% include 'includes/header.html' %}

<div class="container">

  <div class="card text-center mx-auto">
    <div class="card-header">
         Informacion del Libro 
    </div>
    <div class="card-body mx-auto">
      
        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">

            {% if libro.avatar %}
                        <img src="{{ libro.avatar.url }}" class="img-fluid">
                        {% else %}
                        <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid">
            {% endif %}
            
                <div class="card-body">
                  <h5 class="card-title">{{libro.titulo}}</h5>
                  {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{libro.autor}}</li>
                  <li class="list-group-item"><p>ISBN: {{libro.isbn}}</p></li>
                  <li class="list-group-item"><p>Editorial: {{libro.editorial}} </p></li>
                  <li class="list-group-item"><p>Fecha Publicacion: {{libro.fecha_publicacion}}</p></li>




                 {% comment %}  <li class="list-group-item">A third item</li> {% endcomment %}
                </ul>
                {% comment %} <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div> {% endcomment %}
              </div>



    </div>
    <div class="card-footer text-muted">
      {% comment %} 2 days ago {% endcomment %}
    </div>
  </div>

</div>
{% endblock content %}