{% extends 'base.html' %}
{% load static %}

{% block title %}
Libros
{% endblock title %}

{% block content %}

<style>
.card-container {
  {% comment %} width: 250px; /* Cambia el valor de width según tu preferencia */
  height: 90%; {% endcomment %}
}

{% comment %} .card-body {
  height: 100%;
} {% endcomment %}

.imagen-estandar {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 370px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<div class="card-body mx-auto">
  <h3>Libros</h3>
  {% include 'includes/busqueda.html' %}

  <div class="row">
    {% for libro in libros %}
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 bg-body rounded card-container">
        <a href="{% url 'app_inventario:libro' libro.id %}">
          <div class="image-container">
            {% if libro.avatar %}
            <img src="{{ libro.avatar.url }}" class="img-fluid imagen-estandar">
            {% else %}
            <img src="{% static 'img/Logo2.png' %}" alt="" class="img-fluid imagen-estandar">
            {% endif %}
          </div>
        </a>

            <div class="card-body">
              <h5 class="card-title">{{libro.titulo}}</h5>
            </div>

            <ul class="list-group list-group-flush">
                {% if libro.id %}
                    <li class="list-group-item">ID: {{ libro.id }}</li>
                {% endif %}
            </ul>
       
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor %}
    {% if forloop.last and not forloop.counter|divisibleby:3 %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}

{% block footer_card %}
{% include 'includes/paginacion.html' %}
{% endblock footer_card %}
